<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469561203988-gk8k9af6k7d3dk74o2o8tv26nlbhp5k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469561203988-gk8k9af6k7d3dk74o2o8tv26nlbhp5k6</string>
	<key>API_KEY</key>
	<string>AIzaSyCnLl4WdRxfjZ60x_ApAF60UjGy7gObON0</string>
	<key>GCM_SENDER_ID</key>
	<string>469561203988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pear.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pear-442e7</string>
	<key>STORAGE_BUCKET</key>
	<string>pear-442e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469561203988:ios:509a2adaf61f9a9b523601</string>
	<key>DATABASE_URL</key>
	<string>https://pear-442e7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>